<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>MechUni</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb542603377475311</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.477382176607-9lo3m69qem9aq1mt1eaffcuaqdsn7f14</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>542603377475311</string>
	<key>FacebookClientToken</key>
	<string>b91859cb8b1b8ad64354f45300c14db9</string>
	<key>FacebookDisplayName</key>
	<string>MechUni</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-2082512516840040~3966933817</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>App need camera usage permission to scan QR code upload &amp; update your profile &amp; car pic.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App needs your location permission. By accessing your location, this app can find you a good place to park the car.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App needs your location permission. By accessing your location, this app can find you a good place to park the car.</string>
	<key>NSLocationUsageDescription</key>
	<string>App needs your location permission. By accessing your location, this app can find you a good place to park the car.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App needs your location permission. By accessing your location, this app can find you a good place to park the car.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App needs photo library additions permission to save your pics.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App need photo library usage permission to upload &amp; update your profile &amp; car pic.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Cabin-Bold.ttf</string>
		<string>Cabin-BoldItalic.ttf</string>
		<string>Cabin-Italic.ttf</string>
		<string>Cabin-Medium.ttf</string>
		<string>Cabin-MediumItalic.ttf</string>
		<string>Cabin-Regular.ttf</string>
		<string>Cabin-SemiBold.ttf</string>
		<string>Cabin-SemiBoldItalic.ttf</string>
		<string>poppins_semibold.ttf</string>
		<string>poppins_regular.ttf</string>
		<string>poppins_bold.ttf</string>
		<string>Gilroy-Bold.ttf</string>
		<string>Gilroy-Heavy.ttf</string>
		<string>Gilroy-Medium.ttf</string>
		<string>Gilroy-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Main</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
</dict>
</plist>
